AI-agent/it_daily_digest_poster.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Ты карьерный консультант. Твоя цель - проанализировать данные кандидата и рекомендовать специализацию в аналитике: системный аналитик vs бизнес-аналитик.\n\nСледуй следующим принципам:\nАвтономность: Сам планируй шаги консультации\nРефлексивность: Анализируй ответы, адаптируй вопросы\nЦеленаправленность: Всегда веди к конечной рекомендации\nЭффективность: Собирай информацию оптимальным путем\n\nПРОТОКОЛ РАБОТЫ\nЭТАП 1: СБОР И АНАЛИЗ ДАННЫХ\n1. обязательно запроси датасет из Школы 21\n2. Проанализируй три файла:\n   - data_0.csv: образование, статус, активность\n   - data_1.csv: посещаемость, время в кампусе, паттерны\n   - data_2.csv: успеваемость, дедлайны, типы проектов\n3. Выдели ключевые метрики без идентификаторов\n\nЭТАП 2: АДАПТИВНЫЙ ОПРОС\nВАЖНОЕ ПРАВИЛО: Задавай строго 1 вопрос в каждом сообщении. Это позволяет пользователю давать развернутые ответы и не перегружает его.\n\nКатегории вопросов (на все нужно получить ответ):\n1. Жизненный опыт и достижения\n2. Опыт отборочного бассейна Школы 21 (субъективный)\n3. объективные метрики из данных отборочного бассейна Школы 21\n3. Демография: возраст, место проживания\n4. Интересы и любимые занятия\n5. Цели обучения и желаемая скорость\n6. Сильные и слабые стороны\n7. Предпочтения по работе (формат, размер компании)\n\nЭТАП 3: АНАЛИЗ И РЕКОМЕНДАЦИЯ\nСовмести данные системы с ответами кандидата.\nИспользуй матрицу принятия решений:\n\nКРИТЕРИИ СИСТЕМНОГО АНАЛИТИКА:\n- Технический склад ума\n- Внимание к деталям и документации\n- Успехи в технических проектах\n- Паттерны: длительная концентрация, работа с системами\n\nКРИТЕРИИ БИЗНЕС-АНАЛИТИКА:\n- Коммуникативные навыки\n- Видение бизнес-процессов\n- Социальная активность (голосования, взаимодействие)\n- Умение видеть общую картину\n\nПРАВИЛА БЕЗОПАСНОСТИ И ЭТИКИ\n1. КОНФИДЕНЦИАЛЬНОСТЬ:\n   - Не запрашивать пароли, личные идентификаторы\n   - Обобщай данные: вместо конкретных имен используй \"по статистике\", \"по метрикам\"\n\n2. ФОРМАТ ВЗАИМОДЕЙСТВИЯ:\n   - Русский язык, дружелюбный тон\n   - Подтверждай понимание ответов\n   - В каждом сообщении: только 1 вопрос\n   - После ответа пользователя - подтверди получение и задай следующий вопрос\n\nПЛАН КОНСУЛЬТАЦИИ\n1.\tПриветствие: Первым сообщением представься, опиши свой процесс.\n2.      Задай вопрос про возраст и место проживание\n2.\tЗапроси объективные данные с отборочного этапа школы 21, проанализируй их и выдай краткий анализ информации\n3.\tСбор данных: Задай серию вопросов ПО ОДНОМУ ЗА СООБЩЕНИЕ. После каждого ответа пользователя подтверди его понимание и задай следующий вопрос. \n4.\tАнализ и вывод: На основе всех ответов и объективных данных сформируй финальную рекомендацию.\n5.\tФормат финальной рекомендации: В конце выдай только один блок с заголовком, выделяя разделы жирным шрифтом,  и внутри него чётко укажи:\no\tСпециализация: \"Системный аналитик\" / \"Бизнес-аналитик\" / \"Смешанный профиль (с уклоном в ...)\".\no\tУверенность: Оценка от 1 до 10, где 10 — максимальная уверенность.\no\tКлючевые аргументы: 3-5 пунктов, основанных на ответах пользователя.\no\tСледующие шаги: 2-3 конкретных совета по развитию в выбранном направлении.\no\tПотенциальные риски: 1-2 момента, на которые стоит обратить внимание.\n\n\nСТРУКТУРА КАЖДОГО СООБЩЕНИЯ:\n1. Краткий контекст (если нужно)\n2. 1-2 четких вопроса\n3. Пояснение, зачем эти вопросы\n4. Приглашение к ответу\nПОМНИ: Ты проактивный агент. Не жди точных инструкций. Сам определяй, какие вопросы задать, когда уточнить, когда достаточно данных для рекомендации. Всегда задавай 1 вопрос за раз для лучшего взаимодействия.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "449892ed-f1fd-416f-86a0-87bf21ad4bb4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "GigaChat/GigaChat-2-Max",
          "mode": "list",
          "cachedResultName": "GigaChat/GigaChat-2-Max"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        208
      ],
      "id": "33b4608d-60fa-4eb5-8d3a-a6471a6b65da",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "SQfYio0keNhabkA2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -32,
        -80
      ],
      "id": "c28a3095-f36b-490b-ae87-5804817c4e09",
      "name": "Telegram Trigger",
      "webhookId": "9f735ff3-3111-4363-9640-40d8b1a352db",
      "credentials": {
        "telegramApi": {
          "id": "QqRJYD7bP1NKEKgI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id.toString() }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "49e4a1a7-67b1-4187-8b7f-abcfbefd748b",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "dab237cd-8e09-449e-9305-7c2c972b0df6",
      "name": "Send a text message",
      "webhookId": "9dece9b7-60ed-461b-b153-1f60cc587420",
      "alwaysOutputData": false,
      "credentials": {
        "telegramApi": {
          "id": "QqRJYD7bP1NKEKgI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2656,
        0
      ],
      "id": "cb63d1e7-0bda-48e3-80e4-203ef123aa58",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://fetchrss.com/feed/1vRZZ38uhBoB1vRqTPEXA1dy.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -2320,
        -144
      ],
      "id": "74f6ecbe-12c0-47eb-b548-d7d902972552",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "url": "https://fetchrss.com/feed/1vRZZ38uhBoB1vRZd4Brx2k7.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -2320,
        0
      ],
      "id": "d2686456-e624-475c-b33a-96d3be22dead",
      "name": "RSS Read1"
    },
    {
      "parameters": {
        "url": "https://fetchrss.com/feed/1vRZZ38uhBoB1vRZa6AzqFk2.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -2320,
        144
      ],
      "id": "97ed92d5-c279-4f20-b39f-4f62208523de",
      "name": "RSS Read2"
    },
    {
      "parameters": {
        "maxItems": 3,
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -2112,
        -144
      ],
      "id": "75e3b478-0e2b-46f2-9953-115371b8a0b3",
      "name": "Limit"
    },
    {
      "parameters": {
        "maxItems": 3,
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -2112,
        0
      ],
      "id": "427da506-c24c-40c3-b5e2-b5c3ceb56c9e",
      "name": "Limit1"
    },
    {
      "parameters": {
        "maxItems": 3,
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -2112,
        144
      ],
      "id": "0475c556-a381-41f9-90d8-965f8ba54fc1",
      "name": "Limit2"
    },
    {
      "parameters": {
        "jsCode": "const CHANNEL_NAME = \"Заметки Аналитика | IT\"; \n\nconst items = $input.all();\nreturn items.map(item => {\n  const t = item.json.title || \"\";\n  const s = item.json.contentSnippet || \"\";\n  \n  let postContent = s;\n  if (s.includes(\"(Feed generated\")) {\n    postContent = s.split(\"(Feed generated\")[0].trim();\n  }\n  \n  return {\n    json: {\n      название_канала: CHANNEL_NAME,\n      название_поста: t || \"\",\n      контент_поста: postContent || \"\",\n      ссылка_на_пост: item.json.link || \"\"\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1904,
        -144
      ],
      "id": "b12c34a5-87c4-4628-a4d9-f7e440b3b875",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const CHANNEL_NAME = \"BA GIRL | Бизнес-аналитика | IT\"; \n\nconst items = $input.all();\nreturn items.map(item => {\n  const t = item.json.title || \"\";\n  const s = item.json.contentSnippet || \"\";\n  \n  let postContent = s;\n  if (s.includes(\"(Feed generated\")) {\n    postContent = s.split(\"(Feed generated\")[0].trim();\n  }\n  \n  return {\n    json: {\n      название_канала: CHANNEL_NAME,\n      название_поста: t || \"\",\n      контент_поста: postContent || \"\",\n      ссылка_на_пост: item.json.link || \"\"\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1904,
        0
      ],
      "id": "d906c153-ca65-4d50-bd55-50c37854755f",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "const CHANNEL_NAME = \"Бизнес-аналитик | IT\"; \n\nconst items = $input.all();\nreturn items.map(item => {\n  const t = item.json.title || \"\";\n  const s = item.json.contentSnippet || \"\";\n  \n  let postContent = s;\n  if (s.includes(\"(Feed generated\")) {\n    postContent = s.split(\"(Feed generated\")[0].trim();\n  }\n  \n  return {\n    json: {\n      название_канала: CHANNEL_NAME,\n      название_поста: t || \"\",\n      контент_поста: postContent || \"\",\n      ссылка_на_пост: item.json.link || \"\"\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1904,
        144
      ],
      "id": "f431fdf0-804a-41d7-be38-21f965f6d20e",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1616,
        -16
      ],
      "id": "2da2d94d-2974-4ae2-a372-8edbf84123ff",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst formattedPosts = items.map((item, index) => {\n  const data = item.json;\n  \n  const cleanContent = (data.контент_поста || \"\")\n    .replace(/\\n\\s*\\n/g, '\\n')\n    .replace(/\\s+/g, ' ')   \n    .trim();\n  \n  return `ПОСТ ${index + 1}:\nКанал: ${data.название_канала || \"Неизвестный канал\"}\nЗаголовок: ${data.название_поста || \"Без заголовка\"}\nСодержание: ${cleanContent || \"Нет описания\"}\nСсылка: ${data.ссылка_на_пост || \"Нет ссылки\"}`;\n}).join('\\n\\n---\\n\\n');\n\nconst aiInput = `Вот сегодняшние посты из Telegram-каналов:\n\n${formattedPosts}`;\n\nreturn [{\n  json: {\n    ai_input: aiInput,\n    raw_data: items.map(item => item.json),\n    posts_count: items.length,\n    channels: [...new Set(items.map(item => item.json.название_канала))].filter(Boolean)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1408,
        0
      ],
      "id": "aa264278-4efc-4c35-b502-c52fb74e3b1c",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.ai_input }}\n\nТы - ассистент для создания IT-дайджеста.\n\nСоздай ответ в СТРОГОМ формате:\n\n0. [Общее саммари в одном абзаце, 2-3 предложения, начинай с \"Сегодня в IT-новостях...\". Покажи общую картину дня, объясни важность тем, передай настроение.]\n\n1. [Заголовок (изменяй только если совсем нелогичный, если слишком большой, сокращай), \nКраткое описание первого поста - 10-15 слов]\n2. [Заголовок (изменяй только если совсем нелогичный, если слишком большой, сокращай), \nКраткое описание первого поста - 10-15 слов]\n3. [Заголовок (изменяй только если совсем нелогичный, если слишком большой, сокращай), \nКраткое описание первого поста - 10-15 слов]\n...\n\nПРАВИЛА:\n- Каждый пункт с новой строки\n- Только нумерация и текст, без лишних слов\n- Для общего саммари используй только пункт 0\n- Для описаний постов используй пункты 1, 2, 3 и т.д.\n- Сохраняй порядок постов как во входных данных\n- Сделай описания информативными и лаконичными",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -1184,
        96
      ],
      "id": "b9031ec2-69b9-4fbf-bc5a-f584205ea9c8",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "GigaChat/GigaChat-2-Max",
          "mode": "list",
          "cachedResultName": "GigaChat/GigaChat-2-Max"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1200,
        352
      ],
      "id": "d364e811-c02f-41fc-a277-4113114c4e5c",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "SQfYio0keNhabkA2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -832,
        16
      ],
      "id": "44d2591d-bd8a-43b4-836e-d517e0876749",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "function findData(items) {\n  let aiOutput = \"\";\n  let rawData = [];\n  \n  items.forEach(item => {\n    const json = item.json || {};\n    if (json.output) aiOutput = json.output;\n    if (json.raw_data && Array.isArray(json.raw_data)) rawData = json.raw_data;\n  });\n  \n  return { aiOutput, rawData };\n}\n\nconst { aiOutput, rawData } = findData(items);\n\nif (!aiOutput || rawData.length === 0) {\n  return [{ json: { error: \"Нет данных\" } }];\n}\n\n// Парсим вывод ИИ\nconst aiBlocks = aiOutput.trim().split(/\\n\\s*\\n/);\nlet generalSummary = \"\";\nconst aiPosts = [];\n\naiBlocks.forEach(block => {\n  if (block.startsWith('0.')) {\n    generalSummary = block.replace('0.', '').replace(/\\n/g, ' ').trim();\n  } else if (block.match(/^\\d+\\.\\s/)) {\n    const lines = block.split('\\n').filter(l => l.trim());\n    if (lines.length >= 1) {\n      const firstLine = lines[0];\n      const match = firstLine.match(/^(\\d+)\\.\\s+(.+)$/);\n      if (match) {\n        const [, number, title] = match;\n        const description = lines.slice(1).join(' ').trim();\n        aiPosts.push({\n          number: parseInt(number),\n          title: title.trim(),\n          description: description\n        });\n      }\n    }\n  }\n});\n\nconst channelPosts = {};\nrawData.forEach((post, index) => {\n  const channel = post.название_канала;\n  if (!channelPosts[channel]) channelPosts[channel] = [];\n  \n  const aiPost = aiPosts[index];\n  \n  channelPosts[channel].push({\n    title: aiPost ? aiPost.title : post.название_поста,\n    description: aiPost ? aiPost.description : (post.контент_поста || \"\").substring(0, 120) + \"...\",\n    link: post.ссылка_на_пост\n  });\n});\n\nfunction escapeUnderscoresInLink(link) {\n  if (!link) return \"\";\n  return link.replace(/_/g, '\\\\_');\n}\n\nlet digest = \"📰 ЕЖЕДНЕВНЫЙ ДАЙДЖЕСТ IT-НОВОСТЕЙ 📰\\n\\n\";\n\ndigest += `✨ ${generalSummary || \"Обзор IT-новостей\"}\\n\\n`;\n\nObject.entries(channelPosts).forEach(([channel, posts]) => {\n  digest += `${channel} - ${posts.length} пост${posts.length > 1 ? 'а' : ''}\\n\\n`;\n  \n  posts.forEach((post, index) => {\n    digest += `${index + 1}. ${post.title}\\n`;\n    \n    if (post.description) {\n      digest += `   📝 ${post.description}\\n`;\n    }\n    \n    const escapedLink = escapeUnderscoresInLink(post.link);\n    digest += `   🔗 ${escapedLink}\\n\\n`;\n  });\n});\n\nconst totalPosts = rawData.length;\nconst totalChannels = Object.keys(channelPosts).length;\n\ndigest += `\\n📊 Всего: ${totalPosts} материал${totalPosts === 1 ? '' : (totalPosts >= 2 && totalPosts <= 4 ? 'а' : 'ов')} из ${totalChannels} источник${totalChannels === 1 ? 'а' : 'ов'}\\n`;\ndigest += \"💻 Полезного дня! #ITновости #Аналитика\";\n\nreturn [{\n  json: {\n    digest: digest,\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        16
      ],
      "id": "8ffb103a-62d5-4b73-8a75-71579d1b83af",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "chatId": "-1003433518235",
        "text": "={{ $json.digest }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -416,
        16
      ],
      "id": "e2803e39-da88-474b-9c5e-17d1727d0352",
      "name": "Send a text message1",
      "webhookId": "4cbb5523-117b-44df-b8fe-793e781fccc7",
      "credentials": {
        "telegramApi": {
          "id": "QqRJYD7bP1NKEKgI",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          },
          {
            "node": "RSS Read2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read2": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b21ca9c3-5a44-455d-87dd-bcbe84613bda",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c78bd4e1c2c422fd23491e61ee7d3a20fdec61485af00a651dac4e345e55e709"
  },
  "id": "y3LOCotykt9fmKKJ",
  "tags": []
}
