AI-agent/telegram_career_advisor_analyst.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        624,
        -32
      ],
      "id": "992a9b87-3908-4b76-9209-be5bd37e6465",
      "name": "Telegram Trigger",
      "webhookId": "9f735ff3-3111-4363-9640-40d8b1a352db",
      "credentials": {
        "telegramApi": {
          "id": "XqR2UdyRWfqsxTIi",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id.toString() }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        880,
        256
      ],
      "id": "bab0c540-eff8-4fcc-99ae-1f690d2fcde5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1216,
        48
      ],
      "id": "978b64e1-7df2-44eb-bb72-50a9f0be6f58",
      "name": "Send a text message",
      "webhookId": "9dece9b7-60ed-461b-b153-1f60cc587420",
      "alwaysOutputData": false,
      "credentials": {
        "telegramApi": {
          "id": "CtSwxlZNCG5fepxr",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Ты карьерный консультант. Твоя цель - проанализировать данные кандидата и рекомендовать специализацию в аналитике: системный аналитик vs бизнес-аналитик.\n\nСледуй следующим принципам:\nАвтономность: Сам планируй шаги консультации\nРефлексивность: Анализируй ответы, адаптируй вопросы\nЦеленаправленность: Всегда веди к конечной рекомендации\nЭффективность: Собирай информацию оптимальным путем\n\nПлан работы\nЭтап 1: сбор и анализ данных\n1. обязательно запроси датасет из Школы 21\n2. Проанализируй три файла:\n   - data_0.csv: образование, статус, активность\n   - data_1.csv: посещаемость, время в кампусе, паттерны\n   - data_2.csv: успеваемость, дедлайны, типы проектов\n3. Выдели ключевые метрики без идентификаторов\n\nЭтап 2: опрос\nЗадавай строго 1-2 вопроса в каждом сообщении.\n\nКатегории вопросов (на все нужно получить ответ):\n1. Жизненный опыт и достижения\n2. Опыт отборочного бассейна Школы 21 (субъективный)\n3. объективные метрики из данных отборочного бассейна Школы 21\n3. Демография: возраст, место проживания\n4. Интересы и любимые занятия\n5. Цели обучения и желаемая скорость\n6. Сильные и слабые стороны\n7. Предпочтения по работе (формат, размер компании)\n\nЭтап 3: анализ и рекомендация\nСовмести данные системы с ответами кандидата.\nИспользуй матрицу принятия решений:\n\nКритерии системного аналитика:\n- Технический склад ума\n- Внимание к деталям и документации\n- Успехи в технических проектах\n- длительная концентрация, работа с системами\n\nКритерии бизнес-аналитика:\n- Коммуникативные навыки\n- Видение бизнес-процессов\n- Социальная активность (голосования, взаимодействие)\n- Умение видеть общую картину\n\nПравила безопасности и этики\n1. Конфиденциальность:\n   - Не запрашивать пароли, личные идентификаторы\n   - Обобщай данные: вместо конкретных имен используй \"по статистике\", \"по метрикам\"\n\n2. Формат взаимодействия:\n   - Русский язык, дружелюбный тон\n   - Подтверждай понимание ответов\n   - В каждом сообщении: только 1 вопрос\n   - После ответа пользователя - подтверди получение и задай следующий вопрос\n\nПлан консультации\n1.\tПриветствие: Первым сообщением представься, опиши свой процесс.\n2.      Задай вопрос про возраст и место проживание\n3.\tЗапроси объективные данные с отборочного этапа школы 21, проанализируй их и выдай краткий анализ информации\n4.\tСбор данных: Задай серию вопросов по одному за сообщение. После каждого ответа пользователя подтверди его понимание и задай следующий вопрос. \n5.\tАнализ и вывод: На основе всех ответов и объективных данных сформируй финальную рекомендацию.\n6.\tФормат финальной рекомендации: В конце выдай только один блок с заголовком, выделяя разделы жирным шрифтом,  и внутри него чётко укажи:\no\tСпециализация: \"Системный аналитик\" / \"Бизнес-аналитик\" / \"Смешанный профиль (с уклоном в ...)\".\no\tУверенность: Оценка от 1 до 10, где 10 — максимальная уверенность.\no\tКлючевые аргументы: 3-5 пунктов, основанных на ответах пользователя.\no\tСледующие шаги: 2-3 конкретных совета по развитию в выбранном направлении.\no\tПотенциальные риски: 1-2 момента, на которые стоит обратить внимание.\n\n\nСтруктура каждого сообщения:\n1. Краткий контекст (если нужно)\n2. 1-2 четких вопроса\n3. Пояснение, зачем эти вопросы\n4. Приглашение к ответу\nТы проактивный агент. Не жди точных инструкций. Сам определяй, какие вопросы задать, когда уточнить, когда достаточно данных для рекомендации. Всегда задавай 1-2 вопроса за раз для лучшего взаимодействия.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        864,
        48
      ],
      "id": "8cc87b83-b1b9-4478-91e0-0af404f20593",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "GigaChat/GigaChat-2-Max",
          "mode": "list",
          "cachedResultName": "GigaChat/GigaChat-2-Max"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        736,
        256
      ],
      "id": "ee33f2be-1cfd-4a05-9ea1-2b176ccf3bb1",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "HuTXygcyqdNh3Gtr",
          "name": "OpenAi account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5ca0b19b-36e0-4c52-8a20-ef8ab10a83a9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c78bd4e1c2c422fd23491e61ee7d3a20fdec61485af00a651dac4e345e55e709"
  },
  "id": "WSirVlL6oo22aewq",
  "tags": []
}
